<script>
$(document).ready(function(){
    $("#identificador").change(function(){
        $.ajax({url: "http://localhost:3000/people/"+this.value+".json"}).done(function(data){
            $("#namei").val(data.name);
            $("#agei").val(data.age);
            $("#cep").val(data.address.cep);
            $("#logradouro").val(data.address.logradouro);
            $("#complemento").val(data.address.complemento);
            $("#bairro").val(data.address.bairro);
            $("#localidade").val(data.address.localidade);
            $("#uf").val(data.address.uf);
            
        }).fail(function(){
            alert("Error");
        });        
    });
});
</script>

<%= form_with(url: people_path, local: true) do |form| %>

  <div class="field">
    <%= form.label :id %>
    <%= form.number_field :id, id: "identificador"%>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: "namei"%>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age, id: "agei" %>
  </div>

  <%= form.fields_for :address do |f| %>

    <div class="field">
      <%= f.label :cep %>
      <%= f.text_field :cep, id: "cep" %>
    </div>

    <%= link_to "Search", cep_path, id: "link", remote: true, local: false %>

    <div class="field">
      <%= f.label :logradouro %>
      <%= f.text_field :logradouro, id: "logradouro" %>
    </div>

    <div class="field">
      <%= f.label :complemento %>
      <%= f.text_field :complemento, id: "complemento" %>
    </div>

    <div class="field">
      <%= f.label :bairro %>
      <%= f.text_field :bairro, id: "bairro" %>
    </div>

    <div class="field">
      <%= f.label :localidade %>
      <%= f.text_field :localidade, id: "localidade"%>
    </div>

    <div class="field">
      <%= f.label :uf %>
      <%= f.text_field :uf, id: "uf" %>
    </div>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
